.blog{
    /* margin: 50px; */
    padding: 50px;
    background-color: rgb(250, 249, 249);
    text-align: center;
}

.blog h1{
    padding: 20px;
    font-weight: 700;
}

.get-buton button{
    background-color: rgb(54, 33, 173);
    color: #fff;
}